/*ESTILOS GERAIS*/
html, body, figure, header,img, div, section, article, input, button, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
    padding: 0;
    border: none;
    /* outline: none; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
  background-color: #f1f3f5;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* HEADER */
.cabecalho {
  height: 562px;
  background-image: linear-gradient(#19017ae5, #19017ae5),
    url(./../img/banner.png);
  background-position: center;
  background-size: cover;
}

.cabecalho_logo {
  padding-top: 70px;
}

.cabecalho_logo img {
}

.cabecalho_descricao {
  margin-top: 60px;
}

.cabecalho_descricao h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #dee2e6;
  margin-bottom: 32px;
}

.cabecalho_descricao p {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #f1f3f5;
}

.cabecalho_descricao a {
  width: 296px;
  height: 48px;
  display: block;
  background-color: #bc00ff;
  border: 2px solid #bc00ff;
  border-radius: 8px;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 32px;
  transition: 0.1s;
}

.cabecalho_descricao a:hover {
  background-color: #540073;
  border: 2px solid #540073;
  border-radius: 8px;
  transition: 0.1s;
}

.pg-inicial {
}
.pg-inicial .container {
  display: flex;
  gap: 70px;
}
.pg-inicial .container .coluna {
  width: 60%;
  height: 300px;
}

.pg-inicial .secao__vagas {
}
.pg-inicial .secao__vagas h2 {
  color: #212529;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin: 20px 0 20px 0;
}
.pg-inicial .secao__vagas .lista__vagas {
}
.pg-inicial .secao__vagas .lista__vaga {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.pg-inicial .secao__vagas .lista__vaga h3 {
  color: #212529;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.pg-inicial .secao__vagas .lista__vaga span {
  color: #343a40;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.pg-inicial .secao__vagas .lista__vaga p {
  color: #343a40;
  font-weight: 400;
  font-size: 16px;
}
.pg-inicial .secao__vagas .lista__vaga .btn {
  display: flex;
  justify-content: space-between;
}
.pg-inicial .secao__vagas .lista__vaga .btn button {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background: #dee2e6;
  border-radius: 8px;
  width: 111px;
  height: 30px;
  cursor: pointer;
}
.pg-inicial .secao__vagas .lista__vaga .btn button ~ button {
  background-color: #bc00ff;
  background: #bc00ff;
  width: 150px;
  height: 38px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.pg-inicial .container .coluna ~ .coluna {
  width: 40%;
}

.vagas_selecionadas {
}
.vagas_selecionadas h2 {
  width: 620px;
  height: 70px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #212529;
  margin: 70px 0 0px 0px;
  padding-top: 20px;
  padding-left: 20px;
  background: #ffffff;
}
.vagas_selecionadas .lista_vagas_selecionadas {
}
.vagas_selecionadas .lista_vagas_selecionadas li {
  background: #ffffff;
  border-bottom: 2px solid #f1f3f5;
  padding: 20px;
}
.vagas_selecionadas .lista_vagas_selecionadas li .descricao_lixeira {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.vagas_selecionadas .lista_vagas_selecionadas li .descricao_lixeira h3 {
  width: 300px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #212529;
}
.vagas_selecionadas .lista_vagas_selecionadas li .descricao_lixeira button {
  width: 44px;
  height: 38px;
  background: #f1f3f5;
  border: 2px solid #f1f3f5;
  border-radius: 8px;
}

.vagas_selecionadas
  .lista_vagas_selecionadas
  li
  .descricao_lixeira
  button:hover {
  background-color: #dee2e6;
  cursor: pointer;
}
.vagas_selecionadas .lista_vagas_selecionadas li .descricao_lixeira button img {
}
.vagas_selecionadas .lista_vagas_selecionadas li .empresa_cidade {
}
.vagas_selecionadas .lista_vagas_selecionadas li .empresa_cidade span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #343a40;
  margin-inline-end: 30px;
}